html,body{
  width: 100%;
  height: 100%;
}
h3,p{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.lt_container{
  width: 100%;
  height: 100%;
  background-color: #fff;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
/* 头部 */
.lt_header
{
  height: 45px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #069;
  padding: 0 45px;
}

.lt_header .icon_left,
.lt_header .icon_right{
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  color: #fff;
  text-align: center;
  line-height: 45px;
}
.lt_header .icon_left{
  left: 0;
}
.lt_header .icon_right{
  right: 0;
}
.lt_header h3{
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  line-height: 45px;
}

/* 中间 */
.lt_main{
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: skyblue; */
}

/* 导航 */
.lt_main .lt_nav{
  padding: 10px;
  overflow: hidden;
}
.lt_main .lt_nav ul li{
  float: left;
  width: 33.3%;
  
}
.lt_main .lt_nav ul li img{
  display: block;
  width: 100%;
}

/* 产品部分 */
.lt_main .lt_product{
  padding:10px;
}
.lt_main .lt_product ul li{
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
.lt_main .lt_product ul li:nth-child(2n+1){
  margin-right: 4%;
}
.lt_main .lt_product ul li p{
  margin-bottom: 10px;
}
.lt_main .lt_product ul li .price{
  color: red;
}
.lt_main .lt_product ul li .oldPrice{
  text-decoration: line-through;
}
.lt_main .lt_product ul li img{
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
}




















/* 底部 */
.lt_footer{
  height: 50px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #069;
  
}
.lt_footer ul li{
  float: left;
  width: 25%;
}
.lt_footer ul li a{
  display: block;
  color: #fff;
  text-align: center;
  padding-top: 8px;
}
.lt_footer ul li a p{
  color: #fff;
  text-align: center;
}
.lt_footer ul li.current a,
.lt_footer ul li.current a p{
  color: orange;
}
